#body-bg{background: fixed center center no-repeat url(../img/sample_bg.jpg) ; 
 
    background-size: cover ; width: 100%; min-height: 500px;}



    @media screen and ( max-width: 320px){
        .container {
            padding: 20px;
            margin: 0px;
        }
    }